* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.container {
    margin: 1rem;
    text-align: center;
    color: white;
}

.title {
    color: white;
    text-align: center;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.nav {
    display: block;
    text-align: left;
    position: absolute;
    top: 35%;
    width: 20%;
    gap: 2rem;
    padding: 0 1rem;
}

.siteTitle {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.nav a {
    text-decoration: none;
    height: 100%;
    display: block;
    padding: 0rem 0rem 1rem 5rem;
    font-size: 3rem;
}

.nav li.active {
    background-color: #333;
}

.nav li:hover {
    background-color: #333;
}