@import url('https://fontlibrary.org//face/glacial-indifference');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

/* html {
    background: url('/src/images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body {
    margin: 0;
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    background: transparent;
    /* background-image: url('/src/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%; */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1.3vh;
    text-align: center;
    color: black;
}

/* .nav {
    display: block;
    text-align: left;
    position: absolute; 
    top: 40%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
    color: black;
    margin-top: 1.5vh;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navBorder {
    font-size: 2.2vh;
    padding: 0;
    margin: 0 1vh;
    font-weight: bold;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: 0;
    font-size: 2.2vh;
    letter-spacing: .6vh;
}

.nav li.active {
    font-weight: 800;
}

.nav li:hover {
    font-weight: 800;
} */

.homePage {
    display: flex;
    flex-direction: column;
}

.homeDiv {
    display: flex;
    flex-direction: column;
    background: url('/src/images/Home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.75);
    background-blend-mode: multiply;
}

.homeTitleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
}

.omcLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vh;
    height: 10vh;
}

.warning {
    margin-top: 42vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
}

.homeTitle {
    display: flex;
    flex-direction: column;
}

.summit {
    font-family: 'Playfair Display', serif;
    position: relative;
    font-size: 6.5vh;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 15vh 0 0 0;
}

.homeSubtitle {
    font-size: 3vh;
    margin: 10vh 0 0 0;
    color: white;
}

.fallSemester {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #202020;
    color: white;
    width: 70%;
    margin: 10vh auto 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
}

.registerNow {
    background-color: white;
    color: black;
    margin: 0;
    padding: 2vh 3vh;
    font-weight: 900;
    width: fit-content;
    font-family: 'Playfair Display', serif;
    font-size: 2vh;
}

.classesForFall {
    text-align: left;
    margin: 2vh 0 5vh 5vh;
    font-size: 5vh;
    font-family: 'Playfair Display', serif;
}

.homeLinks {
    display: grid;
    width: fit-content;
    margin: 1vh auto;
    grid-template-rows: 32vh 32vh;
    grid-template-columns: 24vh 24vh 24vh;
    grid-row-gap: 5vh;
    grid-column-gap: 10vh;
    /* grid-gap: 5vh; */
}

.homeLink {
    text-decoration: none;
}

.homeLinkTitles {
    text-align: right;
    line-height: 32vh;
    color: white;
    font-size: 2.5vh;
    margin: 0;
}

.biblicalLink {
    /* background: url('/src/images/Biblical.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0,0,0,.50);
}

.biblicalLink img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    mix-blend-mode: multiply;
}

.biblicalLink:hover {
    background-color: rgba(0,0,0,.7);
}

.languageLink {
    background: url('/src/images/Language.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.50);
    background-blend-mode: multiply;
}

.languageLink:hover {
    background-color: rgba(0,0,0,.7);
}

.instrumentLink {
    background: url('/src/images/Instruments.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.50);
    background-blend-mode: multiply;
}

.instrumentLink:hover {
    background-color: rgba(0,0,0,.7);
}

.academicLink {
    background: url('/src/images/Academic.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.50);
    background-blend-mode: multiply;
}

.academicLink:hover {
    background-color: rgba(0,0,0,.7);
}

.kindergartenLink {
    background: url('/src/images/Kindergarten.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.50);
    background-blend-mode: multiply;
    height: 32vh;
}

.kindergartenLink:hover {
    background-color: rgba(0,0,0,.7);
}

.peLink {
    background-color: black;
    height: 32vh;
}

.registrationWholePageDiv{
    background: url('/src/images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.registrationPage {
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    min-height: min-content;
    min-width: min-content;
    background-color: rgba(225, 225, 225, .75);
}

.formDiv {
    width: 85vh;
    height: min-content;
    padding: 0 2vh;
}

Form {
    display: flex;
    flex-direction: column;
}

.dates {
    font-size: 2vh;
    text-align: left;
    margin: 1vh 0vh 0vh 0vh;
}

.registrationTitle {
    font-size: 3.5vh;
    font-weight: bold;
    background-color: none;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.instructions{
    margin: 6vh 0 1vh 0;
    font-size: 2vh;
    font-weight: bold;
}

.bibleClass {
    padding: 1vh;
    margin: 0;
    list-style: none;
    display: block;
    width: 30vw;
    text-align: left;
}

.classDiv {
    width: 16vh;
    float: left;
}

.otherClass {
    /* columns: 2; */
    padding: 1vh;
    margin: 0;
    list-style: none;
    width: 17vw;
    float: left;
    text-align: left;
}


input[type="checkbox"] {
    margin-right: .75vh;
}

.about {
    width: 50vh;
    background-color: rgba(225,225,225,.75);
    margin-top: 4vh;
}

.aboutTitle {
    font-size: 4vh;
    font-weight: bold;
    color: black;
}

.biblicalTitle {
    text-align: left;
    margin-bottom: 0;
    font-size: 1.5vh;
    font-weight: bold;
}

.classTitles {
    text-align: left;
    margin-bottom: 0;
    float: left;
    font-weight: bold;
    font-size: 1.5vh;
}

.classInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(225,225,225,.75);
    font-size: 2vh;
    text-align: left;
    width: min-content;
    height: min-content;
    color: black;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 1vh;
}

.classInfo p {
    width: fit-content;
    font-weight: bold;
}

.classInfoClasses {
    display: flex;
    flex-direction: row;
    font-size: 1.5vh;
    width: min-content;
    height: min-content;
}

.classInfoDiv {
    display: flex;
    flex-direction: column;
    width: min-content;
    width: 10vw;
    align-items: center;
    color: black;
    margin-top: 2vh;
    border: solid .1vh black; 
}

.classInfoDivTitle {
    margin-top: .5vh;
    margin-bottom: 0;
}

.classInfoDiv a {
    color: black;
    font-weight: bold;
}

.classInfoTitlesLink:hover{
    background-color: yellow;
}

.classInfoClassesUl {
    padding: 0vh 1vh 1vh 2vh;
    margin: 0;
    width: 10vw;
    float: left;
    text-align: left;
    font-size: 1.2vh;
}

.submitButton {
    left: 2%;
    width: 6vh;
    height: 2vh;
    margin-bottom: 1.5vh;
}

.payment {
    text-align: left;
    padding: 0;
    margin-top: 0;
    margin-left: 1.5vh;
}

.payment li {
    margin-bottom: .5vh;
    font-weight: bold;
}

.leftAlign {
    text-align: left;
}

.marginTop {
    margin-top: 1.5vh!important;
}

.staffPage {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    text-align: center;
    background-color: rgba(225, 225, 225, .75);
    margin: 2vh 0;
}

.staffList {
    display: flex;
    flex-direction: column;
}

.staffRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.staffColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color: black;
    height: 30vh;
    width: 70vh;
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin: 0 .5vh;
}

.staffColumn p {
    margin-bottom: 0;
}

.headshots {
    margin-top: 2vh;
    width: 20vh;
    height: 20vh;
}

.differentClasses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4vh;
}

.biblicalBanner {
    background: url('/src/images/BiblicalClasses.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
} 

.biblicalInfoDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    width: 100%;
}

.biblicalInfoClasses {
    display: flex;
    flex-direction: row;
    color: black;
}

.biblicalInfoClasses li {
    list-style: none;
    text-align: left;
    font-size: 2vh;
    width: 16%;
    margin-right: 5%;
    background-color: #EFF0F0;
}

.biblicalInfoClasses li:last-child {
    margin-right: 0;
}

.biblicalInfoClassesList {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.biblicalInfoClassesTitle {
    color: #7B3F00;
    font-weight: bold;
}

.biblicalInfoClassesDescription {
    width: 70%;
}

.instrumentBanner {
    background: url('/src/images/InstrumentsClassess.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
} 

.otherInfoDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    background-color: #EFF0F0;
}

.otherInfoDiv p {
    font-size: 2vh;
    margin: 2vh;
}

.academicBanner {
    background: url('/src/images/AcademicClasses.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
}

.languageBanner {
    background: url('/src/images/LanguageClasses.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
}

.kindergartenBanner {
    background: url('/src/images/Kindergarten.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
}

.kindergartenInfoDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    width: 60%;
    text-align: left;
}

.peBanner {
    background-color: black;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
}

/* burger menu css */
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 3vh;
    height: 2.5vh;
    left: 97%;
    top: 3%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    list-style-type: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
/* Individual item */
.bm-item {
    display: inline-block;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
}

.bm-item:hover {
    color: #ffffff;
}

/* bootstrap form css*/
.mb-3{margin-bottom:.5vh!important}
.form-check{display:block;min-height:1.5vh;padding-left:-2vh;margin-bottom:.125vh; text-align: left}
.row{display:flex;flex-wrap:wrap;margin-top:0; margin-left: 0; margin-right: 0;margin-bottom: 1vh;}
.col-form-label{margin-bottom:0;font-size:inherit;line-height:1.5vh}
.col-sm-2{flex:0 0 auto;width:20%}
.col-md-4{flex:0 0 auto;width:33.33333333%}
.col-md-6{flex:0 0 auto;width:50%}
.col-sm-10{flex:0 0 auto;width:70%;}
.col-sm-11{flex:0 0 auto;width:83.33333333%; margin-top: -.5vh;}
.form-label{margin-bottom: .5vh; font-size: 1.5vh; font-weight: bold; margin-right: .5vh;}
.form-control{display:block;width:100%;padding:.375vh .75vh;font-size:1.5vh;font-weight:400;line-height:1vh;color:black;background-color:white;background-clip:padding-box;border:.2vh solid #555; border-radius: .8vh}
.form-check-input{--bs-form-check-bg:white;width:2vh;height:1.5vh; vertical-align: middle; border:.2vh solid #dee2e6}
.offset-sm-2{margin-left:16.66666667%}
fieldset {padding: 0;margin: 0;border: 0;}